@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed');

.repItem {
  font-family: 'Fira Sans Condensed', sans-serif;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.hovered {
  background-color: #c9b3b3;
}

ul {
  padding: 0; /* override default padding */
  list-style: none; /* don't show bullets */
}